@import "../../../../variables";
.order {
  &__orderSectionTitle {
    font-size: $s-font-size-desktop;
  }
  &__scooterItem {
    margin-bottom: 2rem;
  }
  &__scooterImage {
    height: 100px;
    & > img {
      object-fit: contain;
      height: 100%;
    }
  }
}
