@import "../../variables";
.cart {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__items {
    display: flex;
    flex-direction: column;
  }
  h2 {
    text-align: center;
  }
  &__summary-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 0;
    @media screen and(min-width: $desktop-breakpoint) {
      flex-direction: row;
    }
  }
  &__summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
  }
  &__price {
    font-size: $m-font-size-mobile;
    padding: 0 2rem;
    @media screen and(min-width: $desktop-breakpoint) {
      font-size: $m-font-size-desktop;
    }
  }
}
