@import "../../../../variables";
@import "../../../../mixins";
.scooter-item {
  display: grid;
  @media screen and(min-width: $medium-breakpoint) {
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
  }
  &__image {
    grid-column: 1 / span 2;
    @media screen and(min-width: $medium-breakpoint) {
      grid-column: 1;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__details {
    grid-column: 1 / span 2;
    padding: 2rem;
    @media screen and(min-width: $medium-breakpoint) {
      grid-column: 2;
    }
  }
  &__name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 1rem;
    @media screen and(min-width: $medium-breakpoint) {
      flex-direction: row;
      align-items: flex-end;
    }
    h1 {
      font-size: $m-font-size-desktop;
      font-weight: 600;
    }
    p {
      font-size: $s-font-size-desktop;
    }
  }
  &__rate {
    text-align: center;
    @media screen and(min-width: $medium-breakpoint) {
      text-align: left;
    }
  }
  &__colors {
    display: flex;
    justify-content: center;
    @media screen and(min-width: $medium-breakpoint) {
      justify-content: flex-start;
    }
  }
  &__color {
    @include scooter-color;
  }
  &__description {
    letter-spacing: 2px;
    font-size: $xs-font-size-mobile;
    text-align: center;
    @media screen and(min-width: $medium-breakpoint) {
      text-align: left;
    }
    @media screen and(min-width: $large-breakpoint) {
      font-size: $xs-font-size-desktop;
    }
  }
  &__scroll-to {
    font-size: $xs-font-size-desktop;
    display: block;

    text-decoration: underline;
    background-color: transparent;
    border: none;
    font-weight: bold;
    transition: color 0.15s linear;
    margin: 0.5rem auto;
    cursor: pointer;
    @media screen and(min-width: $medium-breakpoint) {
      margin: 0.5rem 0;
    }
    &:hover {
      color: $secondary-color;
    }
  }
  .button {
    margin: 1rem auto;
    @media screen and(min-width: $medium-breakpoint) {
      margin-right: 0;
    }
  }
  &__section-title {
    width: 100%;
    text-align: center;
    grid-column: 1 / span 2;
    padding: 2rem 0;
    margin-top: 2rem;
    background-color: rgba($secondary-color, 0.3);
    h2 {
      font-weight: 600;
      font-size: $s-font-size-desktop;
    }
  }
  &__specification-item {
    padding: 2rem;
    font-size: $xs-font-size-desktop;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    &--title {
      text-align: right;
    }
    &--value {
      text-align: left;
    }
    span {
      margin: 1rem 0;
    }
  }
  &__shippings {
    grid-column: 1 / span 2;
    margin: 2rem auto;
    width: 90vw;
    overflow-x: auto;
    @media screen and(min-width: $medium-breakpoint) {
      width: auto;
    }
    table {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th {
      padding: 1rem 2rem;
    }
    td {
      padding: 2rem 2rem;
    }
    th,
    td {
      text-align: center;
      border: 1px solid black;
      border-collapse: collapse;
    }
  }
  #shipping,
  #specification {
    margin-top: -4rem;
    padding-top: 4rem;
  }
}
