@import "../../../../variables";
.scooters {
  &__colors {
    display: flex;
    justify-content: center;
    @media screen and(min-width: $medium-breakpoint) {
      justify-content: flex-start;
    }
  }
}
