@import "../../variables";
.summaryForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 79px;
  margin-top: 1rem;
  &__cityDetails {
    display: flex;
    justify-content: space-between;
    & > div {
      width: 49%;
    }
  }
  &__submitButton {
    margin-top: 1rem;
    padding: 0.5rem 2rem;
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & > button {
      margin: 1rem 0;
      &:first-of-type {
        order: 2;
        @media screen and(min-width: $desktop-breakpoint) {
          order: 0;
        }
      }
    }
    @media screen and(min-width: $desktop-breakpoint) {
      flex-direction: row;
    }
  }
}
