$medium-breakpoint: 767px;
$large-breakpoint: 1024px;
$desktop-breakpoint: 1439px;

$primary-color: #000000;
$secondary-color: #ffe11e;
$background-color: #fefefe;

$s-font-size: 16px;
$m-font-size: 20px;
