$medium-breakpoint: 767px;
$large-breakpoint: 1024px;
$desktop-breakpoint: 1439px;

$primary-color: #000000;
$secondary-color: #ffe11e;
$background-color: #fefefe;

$s-font-size: 16px;
$m-font-size: 20px;

//font-size dekstop
$xxs-font-size-desktop: 24px;
$xs-font-size-desktop: 30px;
$s-font-size-desktop: 40px;
$m-font-size-desktop: 48px;
$l-font-size-desktop: 65px;
$xl-font-size-desktop: 144px;

//font-size mobile
$xxs-font-size-mobile: 16px;
$xs-font-size-mobile: 20px;
$s-font-size-mobile: 26px;
$m-font-size-mobile: 32px;
$l-font-size-mobile: 42px;
$xl-font-size-mobile: 92px;
