@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fira+Sans:wght@300;400;500&family=Montserrat:wght@300;400;500;700&display=swap");
@import "./variables";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  background-color: $background-color;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat;
  font-weight: 400;
}

a {
  font-weight: bold;
  color: $primary-color;
  text-decoration: none;
  transition: color 0.15s ease-in-out;
  @media screen and(min-width: 1439px) {
    &:hover {
      color: $secondary-color;
    }
  }
}
svg {
  transition: transform 0.15s ease-in-out;
  &:hover {
    transform: scale(1.4);
  }
}

.hide-overflow {
  overflow: hidden;
}
