@import "../../../../variables";
@import "../../../../mixins";
.scooters {
  &__item {
    display: flex;
    flex-direction: column;
    border: 1px solid $primary-color;
    padding: 1rem;
  }
  &__favorite {
    display: flex;
    justify-content: flex-end;
  }
  &__image {
    height: 300px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    .scooters__add-to-cart {
      background-color: transparent;
      border: none;
      justify-self: end;
    }
  }
  &__name {
    font-size: $xs-font-size-desktop;
    margin-bottom: 0.5rem;
  }
  &__colors {
    display: flex;
  }
  &__color {
    @include scooter-color;
  }
  &__price {
    align-self: center;
    justify-self: end;
    font-size: $xs-font-size-desktop;
  }
}
